    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('assets/background_low4.jpg');">
      <div fxLayout="row" fxLayoutAlign="center center">
      <img class="img-fluid d-block mx-auto rounded-circle z4"  fxFlex="15" src="https://avatars2.githubusercontent.com/u/7231616?s=460&v=4" alt="profile picture">
      </div>
    </header>

    <!-- Content section -->
    <!-- <section class="py-5" [mediaItem="object"]> -->
    <section class="py-5">
      <div class="container text-center">
        <h1>Gabriel Huertas Marrero</h1>
        <p class="lead">Computer Science and Engineering Undergrad Student</p>
        <p>University of Puerto Rico at Mayaguez</p>
        <p><a href="https://gitlab.com/gabrielHM" target="_blank">GitLab</a>, <a href="https://github.com/gabrielHM" target="_blank">Github</a>, <a href="https://www.linkedin.com/in/gabrielhuertasmarrero" target="_blank">LinkedIn</a>
        </p>
        <p><a href="mailto:contact@gabrielhm.me">contact@gabrielhm.me</a></p>
      </div>

    </section>

    <section class="py-5" #prSection>
      <div class="container text-center">
        <p class="lead">Born in Puerto Rico.</p>
      </div>
    </section>

    <section class="py-5">
      <div class="container text-center">
        <p class="lead">Love programming, design, and solutions that help the community.</p>
      </div>
    </section>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GabrielHM 2019</p>
      </div>
    </footer>