.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
#prSection {
  background-image: url('/src/assets/pr.svg'); 
  background-repeat: no-repeat;
  background-position: center;
}