<div class="container">
  <mat-card>
    <mat-card-title-group>
      <img class="rounded" src="https://avatars2.githubusercontent.com/u/7231616?s=460&v=4" mat-card-lg-image>
      <mat-card-title>{{person.name}}</mat-card-title>
      <mat-card-subtitle>{{person.email}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>{{person.description}}</mat-card-content>
  </mat-card>
  <br/>
  <!-- <mat-card>
    <mat-card-title-group>
      <mat-card-title>Objective</mat-card-title>
    </mat-card-title-group>
    <mat-card-content> {{objective}}</mat-card-content>
  </mat-card> -->
  <mat-toolbar color="primary"><span fxFlex></span><mat-icon aria-hidden="true">school</mat-icon><span fxFlex="1"></span><span>Education</span><span fxFlex></span></mat-toolbar>
  <mat-card>
        <mat-card-title-group>
          <img fxFlexAlign="start" mat-card-sm-image src="https://upload.wikimedia.org/wikipedia/en/thumb/6/65/UPR_at_Mayaguez_Seal.svg/220px-UPR_at_Mayaguez_Seal.svg.png">
          <mat-card-title>Bachelor’s Degree in Computer Science and Engineering</mat-card-title>
          <mat-card-subtitle>University of Puerto Rico, Mayaguez Campus</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <p>Expected Graduation Date: May 2020</p>
            <p>Related Courses: Data Structures, Algorithms, Advanced Programming, Data Bases, Programming Languages.</p>
            <p><a href="https://www.uprm.edu/cse/bs-computer-science-and-engineering/" target="_blank">More Information</a></p>
        </mat-card-content>
      </mat-card>

  <br/>
  <mat-toolbar color="primary"><span fxFlex></span><mat-icon aria-hidden="true">tune</mat-icon><span fxFlex="1"></span><span>Skills</span><span fxFlex></span></mat-toolbar>

  <mat-card id="skills_card" fxLayout="row" fxLayoutAlign="space-around start">

    <mat-list fxFlex="30">
      <h3 matSubheader>Programming</h3>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item *ngFor="let skill of skills">{{skill.name}}</mat-list-item>
    </mat-list>
    <mat-list fxFlex="30">
      <h3 matSubheader>General</h3>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item *ngFor="let skill of general">{{skill.name}}</mat-list-item>
    </mat-list>
    <mat-list fxFlex="30">
      <h3 matSubheader>Other</h3>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item *ngFor="let skill of others">{{skill.name}}</mat-list-item>
    </mat-list>

  </mat-card>
  <br/>

  <mat-toolbar color="primary"><span fxFlex></span><mat-icon aria-hidden="true">work</mat-icon><span fxFlex="1"></span><span>Experience</span><span fxFlex></span></mat-toolbar>

  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <mat-accordion fxFlexFill multi="true">
          <mat-expansion-panel *ngFor="let exp of experiences; even as isEven">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{exp.title}}
              </mat-panel-title>
              <!-- <mat-panel-title fxFlexAlign="center"> ({{exp.place}}) </mat-panel-title> -->
              <mat-panel-description>
                <span fxFlex></span> {{exp.time}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p matSubheader>({{exp.place}})</p>
            <mat-list>
                    <mat-list-item *ngFor="let item of exp.description"> {{item}} </mat-list-item>
            </mat-list>
            <!-- <p>{{exp.description}}</p> -->
    
          </mat-expansion-panel>
          <!-- <div fxLayout="row" *ngIf="isEven" fxFlexAlign="start" fxFlexFill>
            <h2>{{exp.title}}</h2>
            <span fxFlex></span>
            <mat-divider [vertical]="true"></mat-divider>
            <span fxFlex></span>
    
          </div>
          <div fxLayout="row" *ngIf="!isEven" fxFlexAlign="end">
            <span fxFlex></span>
            <mat-divider [vertical]="true"></mat-divider>
            <span fxFlex></span>
            <h2>{{exp.title}}</h2>
          </div> -->
        </mat-accordion>
      </div>

</div>
